 /* This is a custom CSS stylesheet. */

/* Navbar Styling */
.navbar @media screen and (min-width: 800px){
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.row-featurette {
  text-align: center;
}

}
