 /* This is a custom CSS stylesheet. */

/* Navbar Styling
.navbar @media screen and (min-width: 800px){
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
*/
/* .featurette-heading {
   position: relative: 1px;
}*//*
.row-featurette {
  text-align: center;*/
}
#predicament {
  text-align: left !important;
}
.featurette-heading {
  text-align: center;
}
